.userDetailsBody{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.userPageLeft{
    width: 25%;
    box-shadow: 1px 0px 0px lightgray;
    margin-left: 5%;
    /* margin-right: 5%; */
    padding-right: 5%;
}
.userPageRight{
    width: 75%;
}
.changeView{
    display: flex;
    flex-direction: column;
}
