.splashWrapper{
    margin-top: 25px;
    /* width: 100%; */
    overflow: auto;
}

.introWrapper{
    display: flex;
    height: 300px;
    flex-direction: row;
    /* justify-content: space-between; */
    /* width: 100%; */
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    overflow: auto;

}

.contentWrapper{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.splashImage{
    height: 200px;
    width: 200px;
}

.splashIntrotext{
    padding: 10px;
    max-width: 225px;
}


.getStartedWrapper{
    /* background-size: contain; */
    /* background-color: #F8F0EB; */
    background: linear-gradient(.25turn,white, 30%,#F8F0EB )

}
.getStartedImage{
    margin-left: 5%;
    background-image: url("https://res.cloudinary.com/dydhvazpw/image/upload/v1669242906/capstone/banner_home_mobile2x_wftsa5.webp") ;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    background-size: 100% 100%;
    background-position: center;
}
