.ClubDetailsBody{
    margin-top: 100px;
    /* background: linear-gradient(.25turn,white, 30%,#F8F0EB ); */
}

.ClubDetailsHeader{
    /* border-bottom: 1px solid #E66752; */
    /* margin-top: 100px; */
    margin-left: 22%;
    margin-right: 22%;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
}
.clubDetailImageWrapper{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    width: 60%;
}
.imageWrapper{
    width: 50%;
    /* margin-bottom: 20px; */
    /* overflow: hidden; */
    /* padding-bottom: 20px; */
}
.detailsImage{
    /* margin-top: 25px; */
    box-shadow: 0 0 2px 2px lightgray;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name_numMembers{
    margin-left: 20px;
    width: 50%;
}
.name_numMembers h2{
    max-width: 100%;
    word-wrap: break-word;
}
.clubDetailHeaderContent{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
}

.joinClubButton{
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 15%;
    border: none;
    font-size: 22px;
    text-decoration: none;
    background-color: #CD4418;
    color: white;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 0 2px 2px lightgray;
}
.joinClubButton:hover{
    cursor: pointer;
}
.clubInformation{
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    border-bottom: 1px solid #E66752;
    margin-bottom: 25px;
    border-top: 1px solid #E66752;
    padding-top: 20px;
}
.currentlyReadingWrapper{
    display: flex;
    flex-direction: column;
    background-color: #F9F4F2;
    height: 21rem;
    width: 300px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0 0 1px 1px lightgray;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}
.clubInformationContent{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.readingDisplay{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
.readingDisplay h3{
    margin-top: 0px;
    margin-bottom: 5px;
}
.readingCoverImage{
    height: 250px;
    margin-bottom: 10px;
}
.testingwithcolor{
    height: 200px;
    background-color: blue;
}
.pastBookTitle{
    margin-left: 22%;
    margin-right: 22%;
}
.pastBooksWrapper{
    margin-left: 22%;
    margin-right: 22%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.pastBookCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F4F2;
    box-shadow: 0 0 1px 1px lightgray;
    width: 30%;
    height: 21rem;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
}
.pastBookCard h3{
    margin: 10px 0 0;

}
.pastBookCard h4{
    margin: 0;
}
.pastBookCard img{
    margin-bottom: 10px;
}
#addBottomBorder{
    padding-bottom: 25px;
    border-bottom: 1px solid #E66752;
}
.deleteDiv{
    display: flex;
    flex-direction: column;
    position: absolute;

}
.deleteDiv{
    margin-top: 10px;
    border: none;
    text-decoration: none;
    background-color: #CD4418;
    color: white;
    width: 125px;
    height: 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 0 2px 2px lightgray;
}

.deleteDiv:hover{
    cursor: pointer;
}
#zIndex{
    z-index: 1;
}

.removeFromList{
    border: none;
    background-color: #F9F4F2;
}
.removeFromList:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}
